@import url("https://fonts.googleapis.com/css?family=Montserrat:400");

@font-face {
  font-family: Geometos;
  src: url(/fonts/Geometos.ttf);
}

/* TypeScale */

html {
  font-size: 100%;
} /*16px*/

body {
  background: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  /* margin: 2rem 0 1.38rem; */
  margin: 0;
  font-family: "Geometos", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

/* Custom */

html {
  background-color: #000;
  box-sizing: border-box;
  font-family: Geometos;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.blue {
  color: #6cc6c1;
}

.gray {
  color: #aaa;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

span {
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}

.header {
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.square-button {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 16px 0;
  height: 96px;
  width: 96px;
}

.square-button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
  color: white;
}

.icon {
  display: block;
  height: 50%;
  margin: auto;
  vertical-align: middle;
}

.button-panel {
  display: flex;
  flex-wrap: wrap;
  float: left;
  padding-top: 1em;
}

.twitch {
  background: #6441a5;
}

.discord {
  background: #5865f2;
}

.soundcloud {
  background: #ff8800;
}

.twitter {
  background: #00acee;
}

.youtube {
  background: #ff0000;
}

.ml-2 {
  margin-left: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 8px 16px;
  border-bottom: 2px solid rgba(234, 51, 102, 1);
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 8px;
}

nav ul li {
  display: inline-block;
  font-family: "Geometos", sans-serif;
  padding: 16px 12px 12px;
}

a {
  font-family: "Geometos", sans-serif;
}

a:hover {
  color: rgba(234, 51, 102, 1);
}

nav ul li a:hover {
  color: rgba(234, 51, 102, 1);
}

.active {
  color: rgba(234, 51, 102, 1);
}

.nav-logo {
  height: 40px;
  vertical-align: middle;
}

.avatar {
  background: white;
  height: 96px;
  width: 96px;
  vertical-align: middle;
}

.dj-grid {
  columns: 25em 3;
  gap: 16px;
  width: 100%;
}

.dj {
  background: #222;
  padding: 16px;
  margin-bottom: 16px;
  display: inline-block;
  width: 100%;
}

.dj-content {
  padding: 16px 16px 0 16px;
}

.dj-header {
  align-items: center;
  margin: 16px 16px 0 16px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}
.dj-name {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.dj-title {
  margin: 0 0 0 16px;
}

@media (max-width: 768px) {
  .dj-title h2 {
    font-size: 1.341rem;
  }
}

.dj-title h2 {
  display: inline;
  margin: 0;
}

.dj-content p {
  line-break: normal;
}

.dj-social {
  font-size: 30px;
  margin-right: 8px;
}

.genre {
  font-family: "Geometos", sans-serif;
  margin-bottom: 0;
}

.nav-list {
  vertical-align: middle;
}

.content-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  nav {
    border-bottom: none;
  }

  footer {
    border-top: none;
    margin-bottom: 0;
    margin-top: 0;
  }

  .nav-list {
    display: none;
  }
}

.mobile-nav-list {
  font-size: 24px;
  padding: 0;
  vertical-align: middle;
}

@media (min-width: 768px) {
  nav {
    justify-content: start;
  }

  .mobile-nav-list {
    display: none;
  }
}

/* 
 * Mobile Menu 
 */

.mobile-menu {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(234, 51, 102, 1);
  overflow-x: hidden;
  overflow-y: hidden;
}

.mobile-menu-content {
  font-size: 36px;
  list-style-type: none;
  position: relative;
  padding: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.mobile-menu .mobile-menu-close {
  position: absolute;
  top: 16px;
  right: 32px;
  font-size: 36px;
}

/* 
 * Footer
 */

footer {
  border-top: 2px solid rgba(234, 51, 102, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px;
  margin: 32px auto;
  max-width: 1200px;
}

.footer-icon {
  font-size: 18px;
  padding-left: 8px;
}

/*
 * Not Found
 */

.not-found {
  text-align: center;
}

.not-found img {
  margin: 0 auto;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}
