<div class="dj">
  <div class="dj-header">
    <img class="avatar" src="{{ include.dj.avatar }}" />
    <div class="dj-title">
      <h2 class="dj-name">{{ include.dj.name }}</h2>
      <span class="genre gray">{{ include.dj.location }}</span>
    </div>
  </div>
  <div class="dj-content">
    <p class="blue genre">{{ include.dj.genres }}</p>
    <p>{{ include.dj.bio }}</p>

    {% if include.dj.twitch %}
    <a class="dj-social" href="{{ include.dj.twitch }}">
      <i aria-hidden="true" class="fa-brands fa-twitch" title="Twitch"></i>
    </a>
    {% endif %} {% if include.dj.soundcloud %}
    <a class="dj-social" href="{{ include.dj.soundcloud }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-soundcloud"
        title="Soundcloud"
      ></i>
    </a>
    {% endif %} {% if include.dj.twitter %}
    <a class="dj-social" href="{{ include.dj.twitter }}">
      <i aria-hidden="true" class="fa-brands fa-twitter" title="Twitter"></i>
    </a>
    {% endif %} {% if include.dj.youtube %}
    <a class="dj-social" href="{{ include.dj.youtube }}">
      <i aria-hidden="true" class="fa-brands fa-youtube" title="Youtube"></i>
    </a>
    {% endif %}
  </div>
</div>
