<footer>
  <div class="copyright">
    <span>
      &copy;2011-{{ 'now' | date: "%Y" }} UntzTime.<br />
      All tubes reserved.
    </span>
  </div>
  <div class="footer-social">
    <a href="{{ site.socials.twitch }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-twitch footer-icon"
        title="Twitch"
      ></i>
    </a>
    <a href="{{ site.socials.discord }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-discord footer-icon"
        title="Discord"
      ></i>
    </a>
    <a href="{{ site.socials.soundcloud }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-soundcloud footer-icon"
        title="Soundcloud"
      ></i>
    </a>
    <a href="{{ site.socials.twitter }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-twitter footer-icon"
        title="Twitter"
      ></i>
    </a>
    <a href="{{ site.socials.youtube }}">
      <i
        aria-hidden="true"
        class="fa-brands fa-youtube footer-icon"
        title="Youtube"
      ></i>
    </a>
  </div>
</footer>

<!-- Various JS -->
<script>
  function openNav() {
    document.getElementById("mobile-menu").style.display = "block";
    document.body.style.overflow = "hidden";
  }

  function closeNav() {
    document.getElementById("mobile-menu").style.display = "none";
    document.body.style.overflow = "auto";
  }
</script>
