<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta
    property="og:image"
    content="https://untztime.com/images/og-image-2023.jpg"
  />
  <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.title == "Home" %}
  <meta property="og:title" content="{{ site.title }}" />
  {% else %}
  <meta property="og:title" content="{{ site.title }} | {{ page.title}}" />
  {% endif %}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="Anime girl DJ with UntzTime logo" />

  {% if page.title == "Home" %}
  <title>{{ site.title }}</title>
  {% else %}
  <title>{{ site.title }} | {{ page.title }}</title>
  {% endif %}

  <!-- Styles -->
  <link href="/css/app.css" rel="stylesheet" />
  <link href="/css/fontawesome.css" rel="stylesheet" />
  <link href="/css/brands.css" rel="stylesheet" />
  <link href="/css/solid.css" rel="stylesheet" />

  <!-- Favicon  -->
  <link
    rel="icon"
    type="image/gif"
    href="images/favicon-28.gif"
    sizes="28x28"
  />
  <link
    rel="icon"
    type="/image/gif"
    href="/images/favicon-56.gif"
    sizes="56x56"
  />
  <link
    rel="icon"
    type="/image/gif"
    href="/images/favicon-112.gif"
    sizes="112x112"
  />
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
</head>
