<nav>
  <a href="/">
    <img
      height="40"
      width="80"
      class="nav-logo"
      src="/images/untz-logo.png"
      alt="UntzTime logo"
    />
  </a>
  <ul class="nav-list">
    <li>
      <a
        href="/events.html"
        class="{% if include.active == 'Events' %}active{% endif %}"
      >
        Events
      </a>
    </li>
    <li>
      <a
        href="/djs.html"
        class="{% if include.active == 'Resident DJs' %}active{% endif %}"
      >
        Resident DJs
      </a>
    </li>
    <li><a href="{{ site.socials.twitch }}">Twitch</a></li>
    <li><a href="{{ site.socials.discord }}">Discord</a></li>
  </ul>
  <ul class="mobile-nav-list">
    <li>
      <a href="javascript:void(0)" onclick="openNav()">
        <i aria-hidden="true" class="fa fa-bars" title="Open Mobile Menu"></i>
      </a>
    </li>
  </ul>
</nav>
<div id="mobile-menu" class="mobile-menu">
  <a class="mobile-menu-close" href="javascript:void(0)" onclick="closeNav()">
    <i aria-hidden="true" class="fa fa-times" title="Close Mobile Menu"></i>
  </a>
  <ul class="mobile-menu-content">
    <li><a href="/">Home</a></li>
    <li><a href="/events.html">Events</a></li>
    <li><a href="/djs.html">Resident DJs</a></li>
    <li>
      <a href="{{ site.socials.twitch }}">Twitch</a>
    </li>
    <li><a href="{{ site.socials.discord }}">Discord</a></li>
  </ul>
</div>
