<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <section>
      <article>{{ content }}</article>
    </section>
    {% include footer.html %}
  </body>
</html>
