<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html active="Resident DJs" %}
    <section>
      <img
        alt="Anime girl DJ"
        class="header mb-3"
        src="/images/tube-header.png"
      />
      <div class="row">
        <div class="column">
          <div class="headline">
            <h1>Resident DJs</h1>
            <p class="subtext">
              With DJs all around the world, we've got something for everyone.
            </p>
          </div>
        </div>
      </div>
      <article>
        <div class="row">
          <div class="column">
            <div class="dj-grid">
              {% for dj in site.data.djs %} {% include dj.html dj=dj %} {%
              endfor %}
            </div>
          </div>
        </div>
      </article>
    </section>
    {% include footer.html %}
  </body>
</html>
