<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html active="Events" %}
    <section>
      <img
        alt="Anime girl DJ"
        class="header mb-3"
        src="/images/tube-header.png"
      />
      <article>
        <div class="row">
          <div class="column">
            <h1>Events</h1>
            <p class="subtext">
              Yeah we do some special events. Stay posted about upcoming stuff
              and available mix archives.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="content-grid">
              {% for event in site.events reversed %}
              <img class="header" src="{{ event.header }}" />
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    </section>
    {% include footer.html %}
  </body>
</html>
