<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <section>
      <article>
        <div class="row mb-3">
          <div class="column">
            <div class="headline">
              <h1>Come Untz With Us</h1>
              <p class="subtext">
                UntzTime is a worldwide otaku DJ collective specializing in
                music featuring anime, J-EDM, trash memes, and more. Grab a
                drink and join us for livestreams every Friday and Saturday
                night!
              </p>
              <div id="twitch-embed" class="twitch-embed"></div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="column">
              <div class="content-grid">
                {% assign events = site.events | sort: 'date' | reverse %} {%
                for event in events limit:2 %}
                <img class="header" src="{{ event.header }}" />
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="content-grid event-grid">
              <div class="column">
                <div class="video-wrapper">
                  <iframe
                    src="https://www.youtube.com/embed?listType=playlist&list=UUX_xtGnOcev6gX1K-wZ8a1A&index=1"
                  >
                  </iframe>
                </div>
                <div class="video-wrapper">
                  <iframe
                    src="https://www.youtube.com/embed?listType=playlist&list=UUX_xtGnOcev6gX1K-wZ8a1A&index=2"
                  >
                  </iframe>
                </div>
              </div>
              <div class="column">
                <img
                  alt="Anime girl DJ"
                  class="mb-3 header"
                  src="/images/untz-stage.jpg"
                />
                <h2>Join the Community</h2>
                <p class="subtext">
                  Chat with us, hang out, and get the latest updates about our
                  events.
                </p>
                <div class="button-panel">
                  <a
                    class="square-button twitch"
                    href="{{ site.socials.twitch }}"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-brands fa-twitch"
                      title="Twitch"
                    ></i>
                  </a>
                  <a
                    class="square-button discord"
                    href="{{ site.socials.discord }}"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-brands fa-discord"
                      title="Discord"
                    ></i>
                  </a>
                  <a
                    class="square-button soundcloud"
                    href="{{ site.socials.soundcloud }}"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-brands fa-soundcloud"
                      title="Soundcloud"
                    ></i>
                  </a>
                  <a
                    class="square-button twitter"
                    href="{{ site.socials.twitter }}"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-brands fa-twitter"
                      title="Twitter"
                    ></i>
                  </a>
                  <a
                    class="square-button youtube"
                    href="{{ site.socials.youtube }}"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-brands fa-youtube"
                      title="Youtube"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
    {% include footer.html %}

    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        channel: "untz_time",
        height: 480,
        parent: ["untztime.com", "www.untztime.com"],
        theme: "dark",
        width: "100%",
      });
    </script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </body>
</html>
